@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*{
    box-sizing: inherit;
}

header{
    border-bottom: 1px solid black;
    position: fixed;
    width: 100vw;
    top: 0;
    background: rgb(231, 231, 138);
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, #EA4A09, #EABB09);
    overflow: hidden;
}

h1{
    color:whitesmoke;
}

main{
    padding: 16px;
    margin-bottom: 30px;
    height: 100vh;
    margin-top: 32px;
}

.dish{
    text-align: center;
}

.needed{
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
}

#bold1, #bold2{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    transition: 1s;
    color: rgb(123, 59, 59);
}

a:hover{
    color: rgb(255, 255, 255);
    font-size: 1.1em;
}

footer{
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: #EABB09;
    width: 100vw;
    height: 40px;
    text-align: center;
    align-items: center;
}

footer p{
    padding: 10;
}

img{
    height: 200px;
}

nav{
    padding: 16px;

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.gray{
    background-color: gainsboro;
}
